.form-group {
  margin: 15px;
  font-size: 18px;
}
.form-group label,
.form-group input {
  margin-right: 10px;
}
span {
  font-size: 16px;
  color: red;
}
/* button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
} */
