table,
td,
th {
  border: 1px solid black;
  padding: 5px;
}

table {
  border-collapse: collapse;
}

.Topper {
  color: greenyellow;
}

.Fail {
  color: red;
}
.head {
  font-weight: bold;
}
.sub-head {
  font-weight: bold;
  font-style: italic;
}
